<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>roc</th>
      <th>pr</th>
    </tr>
    <tr>
      <th>wc</th>
      <th>N</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">50</th>
      <th rowspan="5" valign="top">9676</th>
      <th>Hand-picked</th>
      <td>0.563759</td>
      <td>0.276336</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.577315</td>
      <td>0.284091</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.569240</td>
      <td>0.277649</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.567815</td>
      <td>0.280592</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.560714</td>
      <td>0.269894</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">1000</th>
      <th rowspan="5" valign="top">7084</th>
      <th>Hand-picked</th>
      <td>0.577917</td>
      <td>0.292103</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.596923</td>
      <td>0.303595</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.591624</td>
      <td>0.300615</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.594215</td>
      <td>0.303377</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.593696</td>
      <td>0.302858</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2000</th>
      <th rowspan="5" valign="top">5228</th>
      <th>Hand-picked</th>
      <td>0.583478</td>
      <td>0.297071</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.608235</td>
      <td>0.315299</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.604776</td>
      <td>0.310100</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.609349</td>
      <td>0.317747</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.606907</td>
      <td>0.317049</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">3000</th>
      <th rowspan="5" valign="top">3964</th>
      <th>Hand-picked</th>
      <td>0.584608</td>
      <td>0.309346</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.604797</td>
      <td>0.318199</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.600276</td>
      <td>0.306695</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.605227</td>
      <td>0.315142</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.606377</td>
      <td>0.315622</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">4000</th>
      <th rowspan="5" valign="top">3062</th>
      <th>Hand-picked</th>
      <td>0.581393</td>
      <td>0.315754</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.611860</td>
      <td>0.327087</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.604995</td>
      <td>0.314189</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.611674</td>
      <td>0.323259</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.611412</td>
      <td>0.323484</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">5000</th>
      <th rowspan="5" valign="top">2401</th>
      <th>Hand-picked</th>
      <td>0.585410</td>
      <td>0.320106</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.626942</td>
      <td>0.341612</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.624022</td>
      <td>0.331686</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.623886</td>
      <td>0.331081</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.623230</td>
      <td>0.334318</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">6000</th>
      <th rowspan="5" valign="top">1935</th>
      <th>Hand-picked</th>
      <td>0.584374</td>
      <td>0.311289</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.611843</td>
      <td>0.334668</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.610945</td>
      <td>0.328106</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.610782</td>
      <td>0.330427</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.602206</td>
      <td>0.317458</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">7000</th>
      <th rowspan="5" valign="top">1577</th>
      <th>Hand-picked</th>
      <td>0.579836</td>
      <td>0.300683</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.605577</td>
      <td>0.330573</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.606986</td>
      <td>0.326995</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.601060</td>
      <td>0.323483</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.606814</td>
      <td>0.326533</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">8000</th>
      <th rowspan="5" valign="top">1266</th>
      <th>Hand-picked</th>
      <td>0.566033</td>
      <td>0.286549</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.604602</td>
      <td>0.321530</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.603411</td>
      <td>0.318834</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.595465</td>
      <td>0.319462</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.592697</td>
      <td>0.321839</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">9000</th>
      <th rowspan="5" valign="top">1039</th>
      <th>Hand-picked</th>
      <td>0.564119</td>
      <td>0.303644</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.595665</td>
      <td>0.310353</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.596708</td>
      <td>0.317179</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.584334</td>
      <td>0.308519</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.583667</td>
      <td>0.307316</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">10000</th>
      <th rowspan="5" valign="top">863</th>
      <th>Hand-picked</th>
      <td>0.596459</td>
      <td>0.323149</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.578929</td>
      <td>0.308338</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.575087</td>
      <td>0.314577</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.564961</td>
      <td>0.310361</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.557616</td>
      <td>0.301633</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">50</th>
      <th rowspan="5" valign="top">6437</th>
      <th>Hand-picked</th>
      <td>0.565815</td>
      <td>0.271168</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.577530</td>
      <td>0.276588</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.565418</td>
      <td>0.269809</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.562992</td>
      <td>0.268973</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.564824</td>
      <td>0.270152</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">1000</th>
      <th rowspan="5" valign="top">5919</th>
      <th>Hand-picked</th>
      <td>0.571609</td>
      <td>0.288502</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.592874</td>
      <td>0.303074</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.587418</td>
      <td>0.302194</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.591446</td>
      <td>0.306413</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.590600</td>
      <td>0.303371</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2000</th>
      <th rowspan="5" valign="top">4728</th>
      <th>Hand-picked</th>
      <td>0.579351</td>
      <td>0.297417</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.608018</td>
      <td>0.319497</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.601113</td>
      <td>0.309045</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.607270</td>
      <td>0.315782</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.601528</td>
      <td>0.315262</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">3000</th>
      <th rowspan="5" valign="top">3724</th>
      <th>Hand-picked</th>
      <td>0.581944</td>
      <td>0.308685</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.606374</td>
      <td>0.320918</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.599360</td>
      <td>0.307555</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.606552</td>
      <td>0.316514</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.605278</td>
      <td>0.316612</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">4000</th>
      <th rowspan="5" valign="top">2943</th>
      <th>Hand-picked</th>
      <td>0.577791</td>
      <td>0.312724</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.611029</td>
      <td>0.333542</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.601876</td>
      <td>0.317894</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.608709</td>
      <td>0.325719</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.608271</td>
      <td>0.323917</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">5000</th>
      <th rowspan="5" valign="top">2320</th>
      <th>Hand-picked</th>
      <td>0.582464</td>
      <td>0.309252</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.627679</td>
      <td>0.349039</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.623592</td>
      <td>0.325378</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.622536</td>
      <td>0.328642</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.621088</td>
      <td>0.329755</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">6000</th>
      <th rowspan="5" valign="top">1887</th>
      <th>Hand-picked</th>
      <td>0.581186</td>
      <td>0.307026</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.613904</td>
      <td>0.342763</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.609848</td>
      <td>0.326718</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.607529</td>
      <td>0.327083</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.602732</td>
      <td>0.321252</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">7000</th>
      <th rowspan="5" valign="top">1541</th>
      <th>Hand-picked</th>
      <td>0.573301</td>
      <td>0.296165</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.606978</td>
      <td>0.337371</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.608388</td>
      <td>0.328769</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.604707</td>
      <td>0.326685</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.607069</td>
      <td>0.325937</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">8000</th>
      <th rowspan="5" valign="top">1240</th>
      <th>Hand-picked</th>
      <td>0.556012</td>
      <td>0.281556</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.602596</td>
      <td>0.322397</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.601606</td>
      <td>0.320318</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.589905</td>
      <td>0.317210</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.589654</td>
      <td>0.320257</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">9000</th>
      <th rowspan="5" valign="top">1025</th>
      <th>Hand-picked</th>
      <td>0.551199</td>
      <td>0.287684</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.585337</td>
      <td>0.301684</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.583437</td>
      <td>0.309135</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.571049</td>
      <td>0.302876</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.566456</td>
      <td>0.297478</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">10000</th>
      <th rowspan="5" valign="top">857</th>
      <th>Hand-picked</th>
      <td>0.596603</td>
      <td>0.324458</td>
    </tr>
    <tr>
      <th>FastText wiki</th>
      <td>0.579485</td>
      <td>0.310450</td>
    </tr>
    <tr>
      <th>GloVe wiki200d</th>
      <td>0.573441</td>
      <td>0.308436</td>
    </tr>
    <tr>
      <th>GloVe wiki</th>
      <td>0.566867</td>
      <td>0.310305</td>
    </tr>
    <tr>
      <th>GloVe twitter</th>
      <td>0.557337</td>
      <td>0.303629</td>
    </tr>
  </tbody>
</table>